/************************
** Page *****************
************************/

html {
  width: 100%;
  height: 100%;
  font-size: 1.2rem;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  display: grid;
  place-items: center;
}

button {
  padding: .3rem;
  font: inherit;
}



/************************
** Around the game ******
************************/

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  overflow: hidden;
}

.title-screen {
  grid-column: 1 / -1;
  grid-row: 1;
  display: grid;
  place-items: center;
  z-index: 2;
}

.game-over {
  grid-column: 1 / -1;
  grid-row: 1;
  display: grid;
  place-items: center;
  z-index: 3;
}

.score-container {
  grid-column: 1 / -1;
  grid-row: 2;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 32px;
}



/************************
** The game itself ******
************************/

.game {
  grid-column: 1 / -1;
  grid-row: 1;

  --cell-size: 64;
  --columns: 13;
  --rows: 9;
  width: calc(var(--columns) * var(--cell-size) * 1px);
  height: calc(var(--rows) * var(--cell-size) * 1px);

  display: grid;
  grid-template-columns: repeat(var(--columns), calc(var(--cell-size) * 1px));
  grid-template-rows: repeat(var(--rows), calc(var(--cell-size) * 1px));
  background-color: black;
  overflow: hidden;
  z-index: 1;
}

.sprite,
.player,
.meteor,
.bonus,
.deco {
  grid-column: var(--column);
  grid-row: var(--row);
  background-size: cover;
  image-rendering: pixelated;
  position: relative;
}

/* Player */

.player {
  background-image: url('./assets/boole1.png');
  z-index: 5;
}

.player.facing-right {
  transform: scaleX(-1);
}

.player.dead {
  background-image: url('./assets/tomb.png');
}

/* Bonus */

.bonus {
  z-index: 2;
}

.bonus.clone {
  background-image: url('./assets/bonus_mult.png');
}

/* Meteor */

@keyframes opacify {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.meteor {
  background-image: url('./assets/shadow2.png');
  z-index: 1;
  animation: opacify .2s linear;
}

.meteor.bigger {
  background-image: url('./assets/shadow1.png');
}

.meteor.biggest {
  background-image: url('./assets/shadow3.png');
}

.meteor>.body {
  width: 100%;
  height: 100%;

  background-image: url('./assets/boulder.png');
  background-size: cover;
  image-rendering: pixelated;
  bottom: 100%;
  z-index: 2;
}

/* Decoration */

.deco {
  z-index: 0;
  background-color: black;
}
.deco1 {
  background-image: url('./assets/deco.png');
}
.deco2 {
  background-image: url('./assets/deco2.png');
}



/* -------------------------- */



.off {
  display: none;
}