html {
  width: 100%;
  height: 100%;
  font-size: 1.2rem;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  display: grid;
  place-items: center;
}

button {
  padding: .3rem;
  font: inherit;
}

.container {
  --player-move-duration: 100;

  --cell-size: 64;
  --columns: 13;
  --rows: 9;
  width: calc(var(--columns) * var(--cell-size) * 1px);
  height: calc(var(--rows) * var(--cell-size) * 1px);

  display: grid;
  grid-template-columns: repeat(var(--columns), calc(var(--cell-size) * 1px));
  grid-template-rows: repeat(var(--rows), calc(var(--cell-size) * 1px));
  background-color: black;
  overflow: hidden;
}

.title-screen {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  display: grid;
  place-items: center;
}

.player {
  grid-column: var(--column);
  grid-row: var(--row);
  
  background-image: url('./assets/boole1.png');
  background-size: cover;
  image-rendering: pixelated;
  transition: grid-column .1s linear,
              grid-row .1s linear;
  z-index: 5;
}

.player.facing-right {
  transform: scaleX(-1);
}

.bonus {
  grid-column: var(--column);
  grid-row: var(--row);

  background-size: cover;
  image-rendering: pixelated;
  z-index: 1;
}

.bonus.clone {
  background-image: url('./assets/bonus_mult.png');
}

.meteor {
  grid-column: var(--column);
  grid-row: var(--row);
  
  background-image: url('./assets/shadow2.png');
  background-size: cover;
  image-rendering: pixelated;
  position: relative;
  z-index: 0;

  animation: opacify .2s linear;
}

@keyframes opacify {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.meteor.bigger {
  background-image: url('./assets/shadow1.png');
}

.meteor.biggest {
  background-image: url('./assets/shadow3.png');
}

.meteor>.body {
  width: 100%;
  height: 100%;

  background-image: url('./assets/boulder.png');
  background-size: cover;
  image-rendering: pixelated;
  bottom: 100%;
  z-index: 2;
}

.score-container {
  display: none;
  grid-column: 1 / -1;
  grid-row: -2;
  justify-content: space-around;
  align-items: flex-end;
}

.game-over {
  display: none;
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  place-items: center;
}

.on {
  display: grid;
}
.score-container.on {
  display: flex;
}

.off {
  display: none;
}